<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Personas Detectadas
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar *ngIf="btnLoader" color="success" type="indeterminate"></ion-progress-bar>
  <ion-list *ngFor="let item of personasDetectadas;let i=index">
    <ion-item (click)="goToPerfil(item)">
      <ion-avatar slot="start">
        <img [src]="item.url">
      </ion-avatar>
      <ion-label>
        <h2> {{item.nombre}} </h2>
        <p>{{item.fecha | date:'medium'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
